#editor {
  padding: 10px 15px;
  margin-left: -15px;
  margin-right: -15px;
  border-width: 0;
  resize: none;
  font-family: 'Droid Sans Mono', monospace;
  font-size: 14px;

}

.popover {
  max-width: 400px;

  .options {
    > .btn-group-vertical {
      vertical-align: top;
    }
  }

  .popover-footer {
    padding: 8px 14px;
    margin: 8px -14px -8px;
    font-size: 15px;
    font-weight: normal;
    line-height: 18px;
    background-color: #f7f7f7;
  }
}
